*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
em{
	font-style: normal;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
body{
	font-size: 12px;
	font-family: "微软雅黑";
	color:#515151; 
	background-color: #f4f4f4;
}
.clear:after{content: "";display: block;clear: both;height: 0;visibility: hidden;overflow: hidden;
;}/*清除父级塌陷万能清除法*/
	
.fl{
	float: left;
}
.fr{
	float: right;
}

.w1240{
	width: 1240px;
}
.nav-con{
	background-color: #fff;
	height: 80px;
	border-bottom: 1px solid #efefef;
}
.car-nav{
	margin: 0 auto;
	vertical-align: middle;
}
.logo{
	position: relative;
    display: block;
    height: 53px;
    width: 150px;
	float: left;
	padding-top: 27px;
}
.nav-left,
.nav-right {
	margin-left: 30px;
    line-height: 80px;
}
.nav-left li,
.nav-right li{
	float: left;
    font-size: 14px;
    
}
.nav-left li a{
	color: #999;
}
.active{
	color: #333;
}
.nav-right li{
	margin-right: 20px;
}
.nav-right li a{
	color: #333;
}
.car-box{
	margin: 0 auto;
	background-color: #fff;
}
.t-head{
	height: 50px;
    margin-top: 10px;
    font-size: 12px;
    background-color: #fff;
    border-bottom: 1px solid #EFEFEF;
	//text-align: center;
	line-height: 50px;
	padding-left: 24px;
}
.car-select{
	width: 537px;
}
.checkbox{
	margin-top: 15px;
	margin-right: 10px;
	width: 18px;
	height: 18px;	
	float: left;
	vertical-align: middle;
	}
.unchecked{
	border: 1px solid #333;
	border-radius: 50%;
}
.checked{
	background-image: url('../../../img/duigou.png');
	background-size: 18px;
}
.car-price{
	width: 220px;
    text-align: center;
}
.car-number{
    width: 200px;
    text-align: center;
}
.car-total{
	width: 160px;
    text-align: center;
}
.con-head{
	height: 50px;
	font-size: 12px;
	background-color: #FAFAFC;
	border-bottom: 1px solid #EFEFEF;
	//text-align: center;
	line-height: 50px;
	padding-left: 24px;
}

.cart-shipping-price{
		color: red;
}
.fee-shipping-skip{
	margin-left: 5px;
    color: #00c3f5;
    cursor: pointer;
}
.goods-head{
	height: 50px;
	padding-top: 10px;
	font-size: 12px;
	line-height: 50px;
	padding-left: 24px;
}

.buy{		
	display:inline-block;
	width: 60px;
	height: 18px;
	border: 1px solid #E02B41;
	border-radius: 2px;
	line-height: 18px;
	text-align: center;
	color: #E02B41;
	margin-right: 10px;
}
.produce-list{
	height: 250px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.produce-list li{
	float: left;
}
.phone-msg{
	width: 550px;
	height: 150px;
    text-align: left;
    padding-left: 24px;
}
.phone-msg > .checkbox{
	margin-top: 55px;
} 
.phone-msg > .unchecked{
	margin-top: 55px;
} 
.phone-msg input{
	 
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 17px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	   border-color: #00c3f5;
	background-color: #00c3f5;
}
.phone-msg img{
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 30px;
}
.goods-name{
	//display: inline-block;
	margin-top: 30px;
	width: 360px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #262626;
	float: left;
}
.goods-desc{
	color: #8C8C8C;
	    margin-top: 4px;
}
.single-price{
	width: 220px;
	line-height: 150px;
    text-align: center;
}

.sum-price{
	width: 150px;
	line-height: 150px;
}
.cart-footer{
	margin: 0 auto;
}	
.single-price{
	// font-weight: bold;
	    font-size: 16px;
    color: #666;
}
// 加减按钮
.ph-count{
	width: 200px;
    text-align: center;
}
.btn-num{
	width: 200px;
	    height: 150px;
    line-height: 150px;
    display: inline-block
}
.pnum-add,.pnum-red{
	position: relative;
	text-align: center;
	background-color: #fff;
	border: 1px solid #eee;
	vertical-align: middle;
	height: 24px;
	width: 20px;
}
.pnum-add{
	left: 5px;
}
.pnum-red{
	left: -5px;
}
.pnum-inp{
	border: 2px solid #eee;
	 outline: 0;
	vertical-align: middle;
	text-align: center;
	width: 30px;
	height: 20px;
}
// 小计
.sum-price{
	color: #E02B41;
    font-size: 16px;
    opacity: 1;
	text-align: center;
	width: 160px;
	line-height: 150px;
}
// 表尾
.cart-footer{
	position: relative;
    width: 100%;
    height: 70px;
    font-size: 14px;
    color: #666;
    line-height: 67px;
    transition: background-color 1s;
	margin-top: 10px;
}
.cart-footer #car-select{
	background-color: #fff;
    height: 100%;
	width: 1240px;
    margin: 0 auto;
}
.cart-footer #car-select .checkbox{
	margin-top: 25px;
	margin-left: 25px;
} 
 #car-select p{
	 margin-left: 20px;
	 display: inline-block;
 }
 #car-select>span{
	  margin-left: 20px;
}
