*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
em{
	font-style: normal;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
body{
	font-size: 12px;
	font-family: "微软雅黑";
	color:#515151; 
	//background-color: #f4f4f4;
}

.visiblility-hidden{
    visibility:hidden;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
.content{
	width: 100%;
	height: 830px;
}
.content .header{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	//background: #fff;
	padding-top: 40px;
}
.bg-box{
	height: 750px;
	background-image: url('https://uc-res.mzres.com/resources/uc/wlogin/member/images/banner.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #EDF9FB;
}
.banner{
	position: relative;
	width: 1240px;
	height: 751px;
	margin:0 auto;
	
}
.main-form {
    width: 298px;
	height: 320px;
    position: absolute;
    top: 16%;
    right: 85px;
    background-color: #FFF;
    padding: 35px 35px 10px;
    border-radius: 2px;
}
.main-form h3{
	font-size: 18px;
    margin-top: 35px;
    width: 300px;
    text-align: center;
	font-weight: bold;
}
// 登录
.tip-box {
    position: relative;
    height: 33px;
    display: table;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 4px;
    border: solid 1px #ffc2b3;
    background: #ffd1ca;
    border-radius: 2px;
}
.visiblility-hidden {
    visibility: hidden;
}
//右上角转换按钮
.qr-btn {
	display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    
}
.qr-btn img{
	width: 35px;
	height: 35px;
}
// 错误信息提示
.err-ico{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: 10px;
	
}
.close-ico {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 12px;
    right: 10px;
}
.tip-font {
    color: #666;
    font-size: 12px;
    padding-right: 25px;
    padding-left: 35px;
    display: table-cell;
    vertical-align: middle;
}
//
.numberInput{
	position: relative;
    padding: 0px 10px;
    width: 276px;
    height: 46px;
    line-height: 50px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #dadada;
    outline: none;
    color: #474747;
    zoom: 1;
    overflow: hidden;
}
.num-city{
	float: left;
}
.num-city input{
	width: 36px;
	//height: px;
	font-size: 14px;
	text-align: center;
	border: none;
	vertical-align: middle;
	color: #474747;
}
.down{
	display: inline-block;
	width: 14px;
	height: 8px;
	background: url('https://uc-res.mzres.com/resources/uc/wlogin/base/images/arrow-down.png') no-repeat center;
}
.number{
	outline: none;
	//width: 70%;
	//height: 48px;
	border: none;
	padding-left: 10px;
	color: #515151;
}
.reg-btn{
	display: inline-block;
    height: 50px;
    width: 298px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #32a5e7;
    color: #fff;
    border-radius: 2px;
}
.code-reg{
	position: relative;
	width: 298px;
	height: 44px;
	border: 1px solid #dadada;
	
}
.btn-right{
	color: #515151;
	display: block;
	position: absolute;
    right: 12px;
    top: 11px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
    background-image: url('https://static.geetest.com/static/wind/sprite.1.5.5.png');
	background-position:0 41.3386%;
}
.btn-left{
	width: 30px;
	height: 30px;
	border: 1px solid #3873ff;
	border-radius: 50%;
	margin-top: 7px;
	margin-left: 7px;
	text-align: center;
	float: left;
}
.btn-left span{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #3873ff;
	margin-top: 5px;
}
.btn-mid{
	height: 46px;
	line-height: 46px;
	font-size: 14px;
    color: #666;
	margin-left: 10px;
	float: left;
}
.code-box{
	
}
.verify {
	position: relative;
	//display: none;
	top:-154px;
	width: 293px;
	height: 220px;
	margin-left: 66px;
	background-color: #fff;
	}
		
	.verify .verify-img {
		//display: none;
		position: absolute;
		top: 5px;
		/* left: 15px; */
		width: 100%;
		height: 160px;
		background: url('../../../img/verify-bg.png') no-repeat;
	}
		
	.verify .verify-img .verify-slice {
		position: absolute;
		//display: none;
		top: 40px;
		left: 20px;
		width: 52px;
		height: 50px;
		background: url('../../../img/verify-slice.png') no-repeat;
	}
		
	.verify .verify-main {
		position: absolute;
		bottom: 10px;
		left: 6px;
		width: 260px;
		height: 25px;
		border: 1px solid #333;
		border-radius: 13px;
		text-indent: 60px;
		font-size: 12px;
		line-height: 25px;
		font-family: "微软雅黑";
		background-color: #ccc;
		}
		
	.verify .verify-main .verify-move {
		position: absolute;
		//display: none;
		top: -9px;
		left: 15px;
		width: 44px;
		height: 42px;
		background: url('../../../img/icon.png') no-repeat;
		background-position: 0 -85px;
		cursor: pointer;
	}
		
.verify .verify-main .verify-move.move {
	background-position: 0 -217px;
}
		
.verify .verify-main .verify-status {
	//display: none;
	position: absolute;
	right: 0;
	width: 45px;
	height: 45px;
	background: url('../../../img/icon.png') no-repeat;
	background-position: 0 -85px;
}


.foot{
	width: 1000px;
	height: 60px;
	margin: 0 auto;
}
.foot-line{
	background-color: #888;
    margin: 0px 5px;
    width: 1px;
    height: 10px;
}
.foot-l{
	height: 50px;
	line-height: 50px;
}
.foot a{
	color: #000;
	font-size: 14px;
}

.footer-service {
	height: 50px;
	line-height: 50px;
    float: left;
    margin-left: 36px;
	color: #000;
	font-size: 14px;
}
.footer-service span{
	margin-right:10px;
}
.service-online{
    display: inline-block;
    *margin-top: 5px;
    margin-top: 16px;
    height: 20px;
    line-height: 18px;
    width: 64px;
    color: white;
    background-color: #32a5e7;
    border-radius: 2px;
   
    text-align: center;
}
.copyrightInner,
.copyrightInner a{
	color: #7f7f7f;
	font-size: 12px;
}
.Copyright{
	margin: 0 auto;
	width: 1000px;
}
.beian{
	background: url('https://uc-res.mzres.com/resources/uc/wlogin/member/images/ghs.png') no-repeat; 
	background-size: 15px 14px; 
	padding-left: 18px;
	background-position-y: center;
}


